$font12:12px;
$font13:13px;
$font14:14px;
$font16:16px;
$bold:700;
$light:100;

$colorWhite:#FFF;
$colorDarkBlue:#131921;
$colorDarkBlue2:#232f3e;
$colorDark:#333;
$colorGrey:#ccc;
$colorGreyLight:#fafafa;
$colorOrange:#e47911;
$colorLink:#007185;
$colorBackground:#eaeded;

$border1white:1px white solid;

$backgroundHere: url(../images/here.gif) 5px top no-repeat;
$backgroundDownMenu: url(../images/downMenu.gif) right 15px no-repeat;
$backgroundButton: url(../images/submitTop.gif) left top no-repeat;
$backgroundSelectet: url(../images/selectTop.gif) left top no-repeat;